/* import { css } from "react-emotion";


export */
.testCss {
  background-color: #d5f6e9 !important;
}

.flex {
  display: flex;
  margin: 5%;
}

p {
  font-weight: bold;
}

.TxtColr {
  color: red;
}

.imgLogo {
  border-radius: 25%;
  display: flex;
  margin-bottom: 10%;
}

.mrginBox {
  width: 40%;
}

.imgCssU:hover {
  opacity: 0.5;
}

.imgCssUT:hover {
  opacity: 0.5;
}

.right-align {
  width: 100%;
  justify-content: flex-end;
}
