.txtt {
  color: blue;
}

.SpaceCss {
  padding-bottom: 5%;
}

/* 
img:hover {
    opacity: 0.5;
} */
.imgCss:hover {
  opacity: 0.5;
}

.imgCss {
  position: relative;
}
.txtCss {
  position: absolute;
  color: white;
  padding: 15%;
}



